<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/planets">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{planet?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let p of planet | keyvalue">
      <ion-label>{{p.key}}: {{p.value}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>