<ion-header>
  <ion-toolbar color="primary">
    <ion-title>films</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item button detail lines="insert" *ngFor="let film of (films | async)?.results" (click)="openDetails(film)">
      {{film.title}}
    </ion-item>
  </ion-list>
  <!--<ion-button expand="full" (click)='openDetails()'>Go to Details whit function</ion-button>
  <ion-button expand="full" routerLink="/tabs/films/42" routerDirection="forward">Go to Details whit Link</ion-button>
  <ion-button expand="full" (click)='goToPlanets()'>Switch to Planets</ion-button>
  -->
</ion-content>
