<ion-header>
  <ion-toolbar color="primary">
    <ion-title>people</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail lines="insert" *ngFor="let character of (people | async)?.results" (click)="openDetail(character)">
      {{character.name}}
    </ion-item>
  </ion-list>
</ion-content>
