<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>planets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button details *ngFor="let planet of( planets | async)?.results" (click)="openDetails(planet)">
      {{planet.name}}
    </ion-item>
  </ion-list>

</ion-content>
