<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{character?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of character | keyvalue">
      <ion-label>{{c.key}}: {{c.value}} </ion-label>
 </ion-item>
   
  </ion-list>
</ion-content>
